{% extends 'pokedex/base.html' %}
{% load static %}

{% block title %}Inicio - PokéExplorer{% endblock %}

{% block content %}
<div class="text-center">
	<img src="{% static 'img/pokeexplorer-logo.png' %}" alt="Logo grande" width="300">
	<p class="lead"><strong>Dónde podes buscar, comparar y más sobre Pokemones</strong></p>
</div>
<form class="d-flex search-form" onsubmit="goToPokemon(); return false;">
    <input type="text" name="pokemon" class="form-control me-2" placeholder="Ingrese el nombre del Pokémon" required>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>
<a class="btn btn-secondary mt-3" href="{% url 'compare' %}">Comparar Pokémon</a>

<script>
    function goToPokemon() {
        const name = document.querySelector('input[name="pokemon"]').value.trim();
        if (name) {
            window.location.href = `/pokemon/${name}`;
        }
    }
</script>
{% endblock %}
